<br />
<footer class="footer">
  <div class="container">
    <p>Copyright © 2012 <a href='http://www.linkedin.com/in/vaidyamihir'>Mihir Vaidya</a>. All rights reserved.</p>
    <p>
        <span><%= link_to 'Terms', '#' %></span>
        <span class="divider">|</span>
        <span><%= link_to 'Privacy', '#' %></span>
    </p>
  </div>
</footer>
